
<div class="faq-page">
  <div id="calculator" class="container">
    <div class="jumbotron">
       <p class="calculator-top">Calculate your approximate savings (if more than one property, group all properties together)!
       </br>This is strictly an approximation tool. You should also consult your tax advisor regarding your personal tax situation.</p>
      <div class="top panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">SCHEDULE E FOR A 12 MONTH PERIOD</div>
        <div class="panel-body">
          <p>Add Your Info And click Submit To See Your Cashflow Estimate</p>
        </div>

        <!-- Table -->
        <div class="table-responsive">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th></th>
              <th>Answer</th>
              <th>Without PCF</th>
              <th>With PCF</th>
            </tr>
            <tr>
              <td>Property Price </td>
              <td>
                <input class="propertyprice" placeholder="321321"></input>
              </td>
              <td>
                NA
              </td>
              <td>
                NA
              </td>
            </tr>
            <tr>
              <td>Annual rental income at <br>100% occupancy</td>
              <td>
                <input class="annual_rental_income" placeholder="321"></input>
              </td>
              <td>
                NA
              </td>
              <td>
                NA
              </td>
            </tr>
            <tr>
              <td>Annual Expenses</td>
              <td>
                <input class="expenses" placeholder="101"></input>
              </td>
              <td>
                NA
              </td>
              <td>
                NA
              </td>
            </tr>
            <tr>
              <td>Depreciation</td>
              <td>
                $<span class="depreciation">0</span>
              </td>
              <td>
                NA
              </td>
              <td>
                NA
              </td>
            </tr>
            <tr>
              <td>Net Income or Loss</td>
              <td>
                $<span class="net_income_loss">0</span>
              </td>
              <td>
                NA
              </td>
              <td>
                NA
              </td>
            </tr>
            <tr>
              <td></td>
              <td>

              </td>
              <td>NA</td>
              <td>NA</td>
            </tr>
            <tr>
              <td>Annual (1040) Income:</td>
              <td>
                <input class="income" placeholder="10,000"></input>
              </td>
              <td>NA</td>
              <td>NA</td>
            </tr>
            <tr>
              <td>Net Income or Loss</td>
              <td>
                $<span class="net_income_loss">0</span>
              </td>
              <td>NA</td>
              <td>NA</td>
            </tr>
            <tr>
              <td>Adjusted Income</td>
              <td>
              </td>
              <td>
                $<span class="adjusted_income">0</span>
              </td>
              <td>
                $<span class="adjusted_income_no_pcf">0</span>
              </td>
            </tr>
            <tr>
              <td>Taxes: (Assumed tax rate 40%)</td>
              <td>
              </td>
              <td>
                $<span class="taxes">0</span>
              </td>
              <td>
                $<span class="taxes_no_pcf">0</span>
              </td>
            </tr>
            <tr>
              <td>Cash In Hand</td>
              <td>
              </td>
              <td>
                $<span class="cash-in-hand">0</span>
              </td>
              <td>
                $<span class="cash-in-hand-no-pcf">0</span>
              </td>
            </tr>
          </tbody>
        </table>
        </div><!-- end table responsive -->
      </div><!-- end pannel -->
        <h1> Increased Cash Flow = <span class="cash">0</span></h1>
       <button class="btn btn-lg btn-primary">Submit</button>
     </br>
      </div><!-- end jumbotron -->
    </div> <!-- end container -->
  </div>
