<div class="faq-page">
  <div class="container">
    <div class="jumbotron">
      <%= link_to "Home", root_path, class: "btn btn-lg btn-primary" %>
      <h1>FAQ:</h1>
      <div class="faq-content">
        <h3>Will I really increase my cash flows by thousands of dollars every year?</h3>
        <p>Yes you can. Tens of thousands of successful real estate investors already use the principles of the Property Cash Flow strategy. Join them and permanently increase your cash flows every year.</p>
        <hr/>

        <h3>How easy is it to get my refund if I'm not 100% satisfied?</h3>
        <p>Simply follow the instructions within the first 30 days of your subscription and follow the Terms of Service to let us know you'd like a refund. Once you complete a refund request, 100% of your purchase price will be refunded to your credit card. No questions asked.  But we're so certain you'll increase your cash flows by thousands of dollars every year that we don't expect you'll be asking for a refund. It's more likely we'll be publishing your letter of thanks on our website!</p>

        <hr/>

        <h3>How easy is it to get my refund if I'm not 100% satisfied?</h3>
        <p>Simply follow the instructions within the first 30 days of your subscription and follow the Terms of Service to let us know you'd like a refund. Once you complete a refund request, 100% of your purchase price will be refunded to your credit card. No questions asked.  But we're so certain you'll increase your cash flows by thousands of dollars every year that we don't expect you'll be asking for a refund. It's more likely we'll be publishing your letter of thanks on our website!</p>

        <hr/>

        <h3>How do I contact customer service?</h3>
        <p>You'll find the answers to most of your questions on our website at www.propertycashflows.com.  If all of your questions are not answered, please email us at <a href="mailto:support@propertycashflows.com" class="navy-link">support@propertycashflows.com.</a>
        </p>

        <hr/>

        <h3>Are there any shipping and handling or other hidden charges?</h3>
        <p>There are absolutely no shipping charges or any other hidden charges. You can increase your cash flows by thousands of dollars every year for just a $120/year investment.
        </p>
        <hr/>

        <h3>How does the Property Cash Flow system work?</h3>
        <p>
          Our proprietary Cash Flow system combines the principles of the strategy along with the specific online tools you need to achieve top cash flows on your own property. We've done the hard work to convert the Property Cash Flow system into a user-friendly mobile application that travels with you and is available whenever, wherever you need it.  Our mobile app will allow you to increase your own cash flows by thousands of dollars every year.
        </p>

        <hr/>

        <h3>How much work do I have to do?</h3>
        <p>You might be surprised to learn that you are already doing much of the work required to recognize the full cash flow benefits of the system. In some cases, there is almost no additional work required beyond what you are already doing today. But, in any case, there is no selling of anything required. This is not a multi-level marketing program. It is simply the best way to permanently increase your cash flows on your income property. Tens of thousands of successful real estate investors are using the principles of our system every day.
        </p>

        <hr/>

        <h3>Who best qualifies to take full advantage of the Property Cash Flow system?</h3>
        <p>Our system is ideal for married couples where one spouse is either not currently working or is looking to supplement the income from a part-time job.  The system can also work for individuals and partnerships.
        </p>

        <hr/>

        <h3>What if my income property is in another state?</h3>
        <p>Regardless of your location in the US and the US location of your property this system will work for you.  Your property can be across town or across the country. You will immediately and permanently increase your cash flows year after year by following the Property Cash Flow system.
        </p>

        <hr />

        <h3>What if I'm a first-time real estate investor?</h3>
        <p>Taking advantage of the Property Cash Flows system is ideal for first-time income property owners and seasoned real estate investors alike. Even if you and your spouse just purchased your first income property this month, we will improve your cash flows. GUARANTEED.
        </p>

        <hr />

        <h3>Are you really just trying to get me to refinance my property?</h3>
        <p>Absolutely not. There are hundreds of unscrupulous mortgage brokers out there who would simply like to generate a commission from you on a sale or refinance in this uncertain real estate market.  We believe that the real value in income property ownership is to hold your investments for the long term, just as you planned when you bought them. This strategy lets you keep your income property without refinancing or additional borrowing, even when interest rates are rising and property values are falling.
        </p>

        <hr />

        <h3>I'm worried about the market. Why shouldn't I just sell my property?</h3>
        <p>Most successful real estate investors will tell you that they made much of their fortunes by holding on when others were selling. But how are they able to maintain the cash flows on their properties when rates are going up and housing prices are not? By using the principles behind the Property Cash Flow system, that's how. It's simple; it works; and it's GUARANTEED. If you're like most real estate investors who have had success using the principles behind our system, you will probably stop considering selling your valuable income property for now and hold on to it as part of your retirement plan.
        </p>

        <hr />

        <h3>What if I'm thinking about selling my income property in an uncertain market - do you help me do that?</h3>
        <p>No. We believe the best decision you can make is to improve your cash flows to the point where you no longer consider selling your valuable income property in this uncertain market. We're not looking to help you sell your property or generate a sales or refinance commission. We believe your $120/year risk-free investment will lead you to reconsider selling your valuable property. Remember, your satisfaction with your increased cash flows is GUARANTEED, without refinancing or selling your property.
        </p>

        <hr />

        <h3>I'm a small investor in a real estate partnership. Will the system still work for me?</h3>
        <p>Absolutely!  Even if your other investment partners aren't yet familiar with the Property Cash Flows system. Of course, once you discover how easily the system permanently increases your cash flows, you'll probably have a hard time not telling your friends and investment partners about the impact on your cash flow.
        </p>

        <hr />

        <h3>How do you differ from other real estate resources?</h3>
        <p>There are many real estate solutions out there; and it can be confusing, even to experienced real estate investors. Many of these "solutions" are simply looking to generate a commission by playing on your fears and convincing you to either refinance or sell your valuable income property.  Property Cash Flows is different. With our proprietary system you can easily and permanently increase your cash flow on your existing income property. Finally, you can stop worrying about the market and how to time a refinance or a sale. Put our proprietary GUARANTEED strategy to work for you and start seeing increased cash flows on your income property today.
        </p>

        <hr />


      </div>
    </div>
  </div>
</div>
